@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	background: lightgray;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: monospace;*/
}

* {
	outline: 1px solid red;
}

main {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

main h1, h2 {
	text-align: center;
	/*background: rgba(0, 0, 0, .2);*/
}

.group-form {
	display: flex;
	width: 100%;
	position: relative;
}

#search {
	font-family: inherit;
	/*flex-grow: 1;*/
	width: 50%;
	font-size: 18px;
	font-weight: bold;
	padding: 9px 20px;
	border: none;
	border-radius: 0 5px 5px 0;
	/*position: absolute;*/
	background: #74ba6d;
}

#country-name {
	width: 100%;
	flex-grow: 3;
	font-size: 19px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
}

.container {
	width: 50vw;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, .1);

}

.container h2 {
	text-align: left;
}

.boxNav {
	height: auto;
	display: flex;
	align-items: center;
}

.flagBox {
	width: 15%;
	height: 40px;
	flex-grow: 1;
}

.flagBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

.nameBox {
	padding-left: 20px;
	width: 100%;
	/*flex-grow: 1;*/
}

.nameBox h1 {
	margin: 0;
}

.country-header {
	display: inline;
}

.features {
	list-style: none;
	padding: 0;
}

.features li {
	padding: 5px 0;
	font-weight: 600;
}
